*{margin:0;
    padding: 0;
    box-sizing: border-box;
}
    
#sidebar{
position:fixed;
width: 200px;
height: 100%;
text-align: center;
padding: 15px 10px;
border-bottom:1px solid rgba(10, 6, 6, 0.3)
}
.madre {
  position:absolute;right: 0;
   background: yellow;
   height: 150px;
   /*IMPORTANTE*/
   display: flex;
   justify-content: center;
   align-items: center;
 }

.foto img{
    float:left;
     
}
.titulo{
    font-family: "Comic Sans MS", "Comic Sans";
    border: black 5px solid;
    margin-top: 10px;
    align-items:flex-start
    
  }
  
 
 

.formulario{
    width: 400%;
    padding: 30px;
    
    margin:  auto;
    margin-top: 100px;
   
  
   }

