  body{
    background: #271a99	;   /*COLOR FONDO DE PAGINA*/
    font-family: Arial, Helvetica, sans-serif;   /*TIPO DE LETRA DE SITIO*/

}
#container {
    background: #90ca33	;   /*COLOR FONDO CABECERA*/

}
.article {

}

header{
    background: #c90909	;   /*COLOR FONDO CABECERA*/
    height: 130%;
    width: 70%;
    text-align:center;
    float:right;
}

#imagentitulo{
        float: left;
        width: 20%;
        margin: 0% auto;
        background: #8a0d0d	;
        line-height: 100px;
        text-align:center;

        }

#content{/*CUERPO*/
    float: right;
    width: 70%;
    margin: 0% auto;
    background: rgb(192, 39, 133);
    border: 2px solid black;
    text-align: center;
    line-height: 100px;

}

#BarraInicio { /*BARRA DE INICIO*/
    float: left;
    width: 28%;
    height: 100%;
    margin:0% auto;
    background: rgb(168, 140, 47);
    border: 2px solid black;
    line-height: 100px;
}