*{
    margin:10px;
    padding:10px;
    box-sizing: border-box;
}
.contenedor{
    background:rgb(255, 255, 255);
    display: flex;
}

    .menu{
        background:rgb(255, 255, 255);
        display: flex;
        flex-flow: column nowrap;
        box-sizing: border-box;
        border: 2px solid rgb(12, 12, 12);
    }
        .nav-enlace{
            background:rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            padding: 10px 30px;
            display: inline-block;
        }
        .nav-enlace:hover{
            background: violet;
        }
 

.padre{
background:rgb(255, 255, 255);
display: flex;
flex-flow: column nowrap;
}

.header{
    background:rgb(255, 255, 255);
}
.inicio-pag{
    background:rgb(255, 255, 255);
    display: flex;
    flex-flow: row nowrap;
}
.logo{
    background:rgb(255, 255, 255);
    flex: 1,5 1 auto;
    }
.texto{
    background:rgb(255, 255, 255);
    flex: 8 1 auto;
}

.nosotros{
    background:rgb(255, 255, 255);
    
}
    .textos-1{
        background:rgb(255, 255, 255);
    }
        .textos-2{
            background:rgb(255, 255, 255);
            display: flex;
        }
        .textos-3{
            background:rgb(255, 255, 255);

            flex-flow: row nowrap;
            flex: 1 1 auto;
        }
 
.nav-boton{
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}

.ul-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

        
.section{
    background:rgb(255, 255, 255);
    box-sizing: border-box;
    border: 2px solid rgb(12, 12, 12);
}
.footer{
    background:rgb(255, 255, 255);
}


@media (max-width: 992px) {
    .textos-1{
    flex-direction: column;
    background: yellow;
    }
    
    .desaparece{
        display: none;
    }
    
    .textos-2{
        flex-direction: column;
    }

    .textos-3{
        flex-direction: column;
    }

    .nav-boton{
        display: inline-block;
    }
    .menu  {
        box-sizing: border-box;
        border: 2px solid rgb(255, 255, 255);

}